*{
	margin: 0%;
}

body {
	padding: 0px;
	font-family: sans-serif;
}

.bg {
	position: relative;
	overflow: hidden;
	z-index: 1;
	top: 0px;
	-webkit-filter: contrast(80%);
    display: block; 
    height: auto;
}

img {
	width: 100%;
	height: 500px;
}

.bg-nav {
	background-color: #435560;
	padding: 20px 10px;
	color: #fff;
	font-size: 20px;
}

nav ul li {
	list-style-type: none;
	letter-spacing: 1px;
}

.bg h2, h3 {
	position: absolute;
	color: #fff;
	margin: 0 0 45px 115px;
	font-size: 35px;
	bottom: 95px;
	z-index: 1;
}

.button {
	position: absolute;
	background-color: #28abb9;
	text-decoration: none;
	color: #fff;
	width: max-content;
	border-radius: 5px;
	padding: 15px 25px;
	margin: 0 0 45px 115px;
	bottom: 30px;
}

.button:hover {
	background: #1a508b;
	color: #fff;

}

#line {
	background-color: #dddddd;
	width: 1325px;
	height: 1px;
	margin: 30px 10px 10px 10px;
}

.row {
	width: 1300px;
	margin: auto;
}

.row .kiri {
	float: left;
	width: 550px;
	margin: 50px 10px 40px 50px;
	text-align: justify;
	line-height: 2em;
}

.row .kiri h1 {
	padding: 25px 0 25px 0;
}

.row .kanan {
	width: auto;
	height: auto;
	padding: 50px;
	display: flex;
}

.map {
	font-size: 25px;
	text-align: center;
	margin: 50px 0 15px 0;
}

.map p {
	padding: 25px;
}

footer {
	background-color: #435560;
	text-align: center;
	padding: 10px;
	color: #fff;
}